body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

:root {
    --hero-c-text: #ffffff;
    --hero-c-text-h-f: #FD9222;
    --hero-c-bgc-button: #FD9222;
    --hero-c-bgc-button-left-h-f: #FCF1E0;
    --hero-c-bgc-button-right-h-f: #ffffff;
    --hero-bgc: #1E1823;

    --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
}

.hero_text {
    color: var(--hero-c-text);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*---hero-mobile---*/

.hero {
    max-width: 375px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.hero_container {
    background: var(--hero-bgc);
    background-image: url(../images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 395px;
    padding-bottom: 21px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    border-radius: 30px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero_container {
        background-image: url(../images/hero-mobile@2x.jpg);
    }
}

.hero_title {
    max-width: 295px;
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    text-align: start;
}

.hero_nav {
    margin-top: 32px;
}

.hero_buttons {
    display: flex;
    gap: 14px;
    margin-bottom: 32px;
}

.hero_buy_btn,
.hero_description_btn {
    font-size: 14px;
    padding-top: 12px;
    padding-left: 28px;
    padding-bottom: 12px;
    padding-right: 28px;
    border-radius: 100px;
}

.hero_buy_btn {
    background-color: var(--hero-c-bgc-button);
    border: none;
}

.hero_buy_btn:hover,
.hero_buy_btn:focus {
    color: var(--hero-c-text-h-f);
    background-color: var(--hero-c-bgc-button-left-h-f);
}

.hero_description_btn {
    border: 1px solid #ffffff;
    background-color: transparent;
}

.hero_description_btn:hover,
.hero_description_btn:focus {
    color: var(--hero-c-text-h-f);
    background-color: var(--hero-c-bgc-button-right-h-f);
}

.hero_scroll {
    text-align: left;
    font-size: 12px;
}

.hero_scroll_btn {
    display: flex;
    gap: 12px;
    align-items: center;
}

.hero_scroll_icon {
    fill: var(--hero-c-bgc-button);
    background-color: var(--hero-c-text);
    border-radius: 50%;
}

.hero_scroll_btn:hover .hero_text,
.hero_scroll_btn:focus .hero_text {
    color: var(--hero-c-text-h-f);
}

.hero_scroll_btn:hover .hero_scroll_icon,
.hero_scroll_btn:focus .hero_scroll_icon {
    fill: var(--hero-c-text);
    background-color: var(--hero-c-bgc-button);
}

/*---hero-tablet---*/

@media screen and (min-width: 768px) {
    .hero {
       max-width: 768px;
    }

    @media screen and (min-width: 768px) {
    .hero_container {
        padding-top: 670px;
        padding-bottom: 40px;
        background-image: url(../images/hero-tablet.jpg);
        max-width: 768px;
    }
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero_container {
        background-image: url(../images/hero-tablet@2x.jpg);
    }
    }

.container {
    padding-right: 40px;
    padding-left: 40px;
}

.hero_title {
    margin: 0;
    max-width: 484px;
}

.hero_nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hero_buttons {
    margin: 0;
}

}

/*---Hero-desktop*/

@media screen and (min-width: 1200px) {
    .hero {
        max-width: 1200px;
    }

    @media screen and (min-width: 1200px) {
.hero_container {
    padding-top: 380px;
    background-image: url(../images/hero-desktop.jpg);
    max-width: 1200px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
.hero_container {
    background-image: url(../images/hero-desktop@2x.jpg);
  }
}
}
